<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication1.Properties.Settings.E10ProductionConnectionString"
            connectionString="Data Source=LV-SQL-01;Initial Catalog=E10Production;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApplication1.Properties.Settings.E10DEV_THREEConnectionString"
            connectionString="Data Source=LV-SQL-01;Initial Catalog=E10DEV_THREE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>